.fixed-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
}

.pdf-modal-container {
    position: absolute;
    border: 1px solid black;
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    border-radius: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    overflow-y: scroll;
}

.pdf-modal-container>div:last-child::-webkit-scrollbar {
    display: none;
}

.pdf-modal-container:last-child {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    gap: 1em;
    border-bottom: 1px solid black;
    padding: .3em;
}

.pdf-modal-container select {
    height: 50%;
    align-self: center;
}

.close-svg {
    position: absolute;
    right: 1%;
    top: 1%;
    cursor: pointer;
}

.pdf-list-flex {
    display: flex;
    justify-content: space-between;
    padding: .3em;
    border-bottom: 1px solid black;
}

.pdf-list-flex span:first-child{
    cursor: pointer;
}

.pdf-list-flex:last-of-type {
    border: 0;
}

.pdf-list-flex+hr {
    margin: 0;
}

.pdf-list-flex:nth-child(odd) {
    background-color: rgba(103, 220, 255, 0.553);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}