.tile-container {
    position: relative;
    overflow: hidden;
}

.tile-img {
    object-fit: cover;
    width: 100%;
    transform: scale(1.1);
    transition: transform 250ms ease-in;
    aspect-ratio: 16 / 9;
}

.tile-text {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    color: white;
    text-align: center;
}

.tile-text h3 {
    font-size: clamp(22px, 4vw, 28px);
    -webkit-text-stroke: .15em black;
    paint-order: stroke fill;
    white-space: nowrap;
}

.tile-text p {
    -webkit-text-stroke: .2em black;
    paint-order: stroke fill;
    width: 100%;
    margin: 0;

}

.tile-loading {
    transform: scale(1.25);
}

.tile-0 {
    transition-delay: .2s;
}

.tile-1 {
    transition-delay: .4s;
}

.tile-2 {
    transition-delay: .6s;
}

.tile-3 {
    transition-delay: .8s;
}

@media (min-width: 500px) {
    .tile-container {
        border-radius: 7px;
    }

    .whats-going-on-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1em;
        gap: 1em;
    }

    .tile-img {
        box-shadow: 3px 1px 5px rgba(127, 127, 127, 0.691);
    }
}